{% extends "sayl/base_site.html" %} 
{% load staticfiles %} 
{% block title %} Gestionar Feriados y Dias No Laborables {% endblock title %} 
{% block stylesheets %} 
{{ block.super }}
{% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
    <div class="">     

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Gestionar Feriados y Dias no Laborables<small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Estos registros seran tomados en cuenta a la hora de la colocacion de la inasistencia automatica del personal.
                        </p>
                        {% if messages %}
                        <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                <!--<div class="text-center"><p{% if message.tags %} {% endif %}>{{ message }} {{tipojust.motivo}} </p></div>-->
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    <strong>Error</strong> {{ message }} {{tipojust.motivo}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">{% include 'sayl/filtros.html' %}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"><a class="btn btn-success" data-toggle="modal" data-target=".modal_agregar"><span class="glyphicon glyphicon-plus"></span>Agregar</a></div>
                            <!--<div class="col-md-2"><a class="btn btn-success" href="agregar_tjust"><span class="glyphicon glyphicon-plus"></span>Agregar</a></div>-->
                            <div class="modal fade modal_agregar" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel{{tipojust.pk}}">Agregar un Nuevo Tipo de Justificacion</h4>
                                        </div>
                                        <div class="modal-body">
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel">                                              
                                                <div class="x_content">
                                                <div class="form-group">                                         
                                                <form method="POST" data-parsley-validate class="form-horizontal form-label-left">
                                                <input type="hidden" name="accion" value="add">
                                                    {% csrf_token %}
                                                    {% for field in form_feriado %}
                                                        {% if field.name == 'cargo' %}
                                                            <div class="form-check">
                                                            {% comment %}
                                                                por alguna razon al poner la clase flat al check, pa que sea mas lindo, no me anda
                                                                el jquery xd.
                                                            {% endcomment %}
                                                                <div class="col-md-12 col-sm-6 col-xs-12">
                                                                    <input type="checkbox" name="" class="form-check-input" id="just-cargo">
                                                                    <label class="form-check-label" class="control-label col-md-3 col-sm-3 col-xs-12" for="just-cargo">
                                                                        Solo cargos especificos
                                                                    </label>
                                                                    <div class="collapse" id="select-cargo">
                                                                        <div class="card card-body">
                                                                            <div class="form-group">
                                                                                <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{field.html_name}}</label>
                                                                                <div class="col-md-6 col-sm-6 col-xs-12">{{field}}</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        {% else %}
                                                            <div class="form-group">
                                                                <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{field.html_name}}</label>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">{{field}}</div>
                                                            </div>
                                                        {% endif %}
                                                            
                                                        
                                                        
                                                    {% endfor %}
                                                </div>
                                            </div>  
                                            </div> 
                                        </div>
                                        </div> 
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                                            <button type="submit" class="btn btn-default">
                                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Guardar
                                            </button>
                                            
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="titulo_reporte" value="Tipos de Justificaciones"></input>
                        <input type="hidden" id="usuario_reporte" value="{{user.last_name}} {{user.first_name}}">                        
                        <table id="midatatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="noExport">Pk</th>
                                    <th>Descripcion</th>
                                    <th>Nro Día</th>
                                    <th>Mes</th>                                    
                                    <th class="noExport">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for feriado in feriados %}
                                <tr>
                                    <td>{{feriado.pk}}</td>
                                    <td>{{feriado.descripcion}}</td>
                                    <td>{{feriado.nro_dia}}</td>
                                    <td>{{feriado.mes}}</td>                                    
                                    <td class=" last">                                       
                                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target=".modal_confirmar_eliminar{{feriado.pk}}"><i class="fa fa-trash"></i></button>
                                        {% include 'calendario/confirmar_eliminar.html' %}
                                        
                                    </td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-10"><a href="/" class="btn btn-dark"><span class="fa fa-mail-reply"></span> VOLVER</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block javascripts %} {{ block.super }}
<!-- Datatables -->

{% endblock javascripts %}