{% extends "sayl/base_site.html" %} {% load staticfiles %} {% block title %} Gestionar Tipos de Justificacion {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Registros de Auditoria<small></small></h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        {% if not detail %}
                        <h2>Tipos de Justificacion<small></small></h2>
                        {% else %}
                        <h2>Historial de Acciones de {{audit_regsolo.motivo}} <small></small></h2>
                        {% endif %}

                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Se detallan los movimientos realizados sobre el Tipo de Justificación <strong>{{audit_regsolo.motivo}}</strong> .
                        </p>
                        {% if messages %}
                        <div class="row">
                            <div class="col-md-12">
                                {% for message in messages %}
                                <!--<div class="text-center"><p{% if message.tags %} {% endif %}>{{ message }} {{tipojust.motivo}} </p></div>-->
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    <strong>Error</strong> {{ message }} {{audit_reg.motivo}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                        
                        <table id="midatatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Pk</th>
                                    <th class="">Tipo de Justificación</th>
                                    <th class="dt_filtrable">Movimiento</th>
                                    <th class="dt_rango_fecha">Fecha</th>
                                    <th class="dt_filtrable">Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for audit_reg in audit_regs %}
                                <tr>
                                    <td>{{audit_reg.history_id}}</td>
                                    {% if not detail %}
                                    <td><a href="/auditoria/audit_tjust_detail/{{audit_reg.id}}">{{audit_reg.motivo}}</a></td>
                                    {% else %}
                                    <td><a href="#" class="modal_detail" id="{{audit_reg.pk}}" onclick="modal_detail_tjust({{audit_reg.id}},{{audit_reg.pk}})">{{audit_reg.motivo}}</a></td>
                                    {% endif %}
                                    <td>{{audit_reg.history_change_reason}}</td>
                                    <td>{{audit_reg.history_date|date:'d-m-Y'}}</td>
                                    <td>{{audit_reg.history_user}}</td>

                                </tr>

                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tfoot>
                        </table>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-10"><a href="/" class="btn btn-dark"><span class="fa fa-mail-reply"></span> VOLVER</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modalDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="modalDetail">Cambios de Tipo de Justificacion</h4>
                </div>
                <div class="modal-body">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div id="detail_modal"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    function modal_detail_tjust(pk, id_history) {
        console.log(pk);
        $('.modalDetail').modal('toggle');
        $.ajax({
            url: '/auditoria/audit_tjust_detail_json/'+pk+"/"+id_history,
            data: {
                
            },
            dataType: 'json',
            success: function(data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    console.log(data[i]);
                    if(data[i].change){
                        html += "<p> Se cambió el campo <strong>" + data[i].change + "</strong> de <strong>" + data[i].old + "</strong> a <strong>"+ data[i].new + "</strong></p>";
                    }else{
                        html += "<h5> Aun no existen cambios en este tipo de justificacion</h5>"
                    }
                }
            $('#detail_modal').html(html);
            }
        })

    }
</script>
{% endblock content %} {% block javascripts %} {{ block.super }}
<!-- Datatables -->

{% endblock javascripts %}