{% extends 'sayl/index.html' %}
{% load staticfiles %}
{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="col-md-8">
          <div class="x_panel">
            <div class="x_title">
              <h2>Solicitudes de Justificaciones <small></small></h2>              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    {% include 'sayl/filtros.html' %}
                </div>            
                <table id="midatatable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="noExport">Legajo</th>
                            <th>Agente</th>
                            <th>Fecha de Solicitud</th> 
                            <th>Tipo Justificacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for justificacion in justificaciones %}                                
                        <tr>
                            <td>{{justificacion.pk}} </td>
                            <td>{{justificacion.legajo.legajo}}</td>
                            <td>{{justificacion.legajo.last_name}} {{justificacion.legajo.first_name}}</td>
                            <td>{{justificacion.fecha_solicitud|date:'d-m-Y'}}</td> 
                            <td>{{justificacion.tipo_justificacion}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <!--cuadrito inicio-->
        <div class="x_panel">        
            <div class="x_title">
                <h2>Solicitud Seleccionada <small></small></h2>              
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="text-center">
                        <div class="col-md-12">
                            <img src=" {% static '/images/blank-profile.png' %} " alt="..." class="img-thumbnail">
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h4 for="Coso">Legajo:</h4>
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-left" id="legajo-txt"> -----</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h4 for="Coso">Apellido:</h4>
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-left text-uppercase" id="apellido-txt">------</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <h4 for="Coso">Nombre:</h4>
                        </div>
                        <div class="col-md-8">
                            <h4 class="text-left" id="nombre-txt">-------</h4>                        
                        </div>
                    <hr />
                    </div>                
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <p class="text-divider"><span>Datos de Solicitud</span></p>
                    </div>                
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <h4 for="Coso">Tipo:</h4>
                            </div>
                            <div class="col-md-8">
                                <h4 class="text-left" id="tjust-txt">------</h4>                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4 for="Coso">Fecha de Solicitud:</h4>
                            </div>
                            <div class="col-md-8">
                                <h4 class="text-left" id="fsol-txt">------</h4>                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4 for="Coso" class="text-right">Desde:</h4>
                            </div>                       
                            <div class="col-md-8">
                                <h4 class="text-left" id="fdesde-txt">------</h4>                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4 for="Coso">Hasta:</h4>
                            </div>
                            <div class="col-md-8">
                                <h4 class="text-left" id="fhasta-txt">------</h4>                        
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center" ><a id="btn-aprobar" href="#" class="btn btn-success">Aprobar</a></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center" ><a id="btn-rechazar" href="#" class="btn btn-danger">Rechazar</a></div>
                            </div>
                        </div>
                    <hr />
                    </div>                
                </div>
            </div>
        </div>
        <!--cuadrito inicio-->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}