{% extends 'sayl/base_site.html' %}
{% load staticfiles %}
{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Justificaciones en Curso <small></small></h2>              
                    <div class="clearfix"></div>
                </div>
            <div class="x_content">
                <input type="hidden" id="titulo_reporte" value="Solicitudes de Justificaciones"></input>
                <input type="hidden" id="usuario_reporte" value="{{user.last_name}} {{user.first_name}}">                        
                <input type="hidden" name="nombre_universidad" id="universidad" value="{{config.nombre_universidad}}">
                <input type="hidden" name="nombre_facultad" id="facultad" value="{{config.nombre_facultad}}">
                <input type="hidden" name="direccion_facultad" id="direccion" value="{{config.direccion_facultad}}">
                <input type="hidden" name="telefono_facultad" value="{{config.telefono_facultad}}"> 
                <table id="midatatable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="noExport">Pk</th>
                            <th>Legajo</th>
                            <th>Agente</th>
                            <th>Fecha de Solicitud</th> 
                            <th>Tipo Justificacion</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                            <th class="noExport"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for jencurso in just_encurso %}                                
                        <tr>
                            <td>{{jencurso.pk}} </td>
                            <td>{{jencurso.legajo.legajo}}</td>
                            <td>{{jencurso.legajo.last_name}} {{jencurso.legajo.first_name}}</td>
                            <td>{{jencurso.fecha_solicitud|date:'d-m-Y'}}</td> 
                            <td>{{jencurso.tipo_justificacion}}</td>
                            <td>{{jencurso.fecha_inicio}}</td>
                            <td>{{jencurso.fecha_fin}}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}