<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>SAYL</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Bienvenido,</span>
      <h2>{{user.first_name}} {{user.last_name}} </h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Principal <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#">...</a></li>            
          </ul>
        </li>
        <li><a><i class="fa fa-check"></i> Asistencias <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/asistencias">Ver Marcajes</a></li>
            <li><a href="/asistencias/simulador_biometrico">Simulador</a></li>            
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> Justificaciones <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/app_justificacion">(ADMIN)Solicitudes de Justificaciones</a></li>
            <li><a href="/app_tipojustificacion">Gestionar Tipos de Justificaciones</a></li>
            <li><a href="/app_justificacion/avisar_inasistencia">(user)Avisar Inasistencia</a></li>
            <li><a href="/app_justificacion/justificaciones_encurso">Justificaciones en Curso</a></li>            
          </ul>
        </li>
        <li><a><i class="fa fa-clock-o"></i> Horarios <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/app_horarios">Declaracion de Horarios</a></li>
            <li><a href="form_advanced.html">Periodo Lectivo</a></li>
            <li><a href="form_validation.html">Modulos</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-bar-chart"></i> Reportes <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="form.html">Horas Trabajadas</a></li>
            <li><a href="form_advanced.html">Licencias Mensuales Solicitadas</a></li>
            <li><a href="form_validation.html">...</a></li>            
          </ul>
        </li>
        <li><a><i class="fa fa-book"></i> Auditoria <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/auditoria/audit_tjust">Tipos de Justificacion</a></li>
            <li><a href="/auditoria/audit_just">Solicitudes de Justificaciones</a></li>
            <li><a href="/auditoria/audit_asist">Asistencias</a></li>
            <li><a href="form_validation.html">...</a></li>            
          </ul>
        </li>
        <li><a><i class="fa fa-calendar-o"></i> Calendario <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            
          </ul>
        </li>
        
      </ul>
    </div>    
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a href="/config/" data-toggle="tooltip" data-placement="top" title="Configuración">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
