{% extends "sayl/base_site.html" %} {% load staticfiles %} {% block title %} Gestionar Tipos de Justificacion {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Configuracion<small></small></h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i> Gestionar Configuraciones </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Settings 1</a>
                                    </li>
                                    <li><a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tab_content1" id="general-tab" role="tab" data-toggle="tab" aria-expanded="true">General</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content2" role="tab" id="reportes-tab" data-toggle="tab" aria-expanded="false">Reportes</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content3" role="tab" id="asistencias-tab" data-toggle="tab" aria-expanded="false">Asistencias</a>
                                </li>
                                <li role="presentation" class=""><a href="#tab_content4" role="tab" id="horarios-tab" data-toggle="tab" aria-expanded="false">Horarios</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="general-tab">
                                    <div class="text-center">
                                        <div class="col-md-offset-3">

                                        </div>
                                        </table>


                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="reportes-tab">

                                    <div class="col-md-12">
                                        <form action="" method="post" class="form-horizontal form-label-left">
                                            {% csrf_token %}
                                            <div class="center-block">
                                                <div class="form-group">
                                                    <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{config_form.nombre_universidad.label}}:</label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                        {{config_form.nombre_universidad}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{config_form.nombre_facultad.label}}:</label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                        {{config_form.nombre_facultad}}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{config_form.direccion_facultad.label}}:</label>
                                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                                        {{config_form.direccion_facultad}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- </form> -->
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="asistencias-tab">
                                    <div class="col-md-12">
                                        <!-- <form action="" method="post" class="form-horizontal form-label-left">
                                            {% csrf_token %} -->
                                        <div class="center-block">
                                            <div class="form-group">
                                                <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{config_form.tiempo_tolerancia.label}}:</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    {{config_form.tiempo_tolerancia}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </form> -->
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="horarios-tab">
                                    <div class="col-md-12">
                                        <!-- <form action="" method="post" class="form-horizontal form-label-left">
                                            {% csrf_token %} -->
                                        <div class="center-block">
                                            <div class="form-group">
                                                <label for="{{field.id_for_label}}" class="control-label col-md-3 col-sm-3 col-xs-12">{{config_form.porcentaje_frente_aula.label}}:</label>
                                                <div class="col-md-3 col-sm-3 col-xs-12">
                                                    {{config_form.porcentaje_frente_aula}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Guardar Cambios</button>
                            </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super }}
<!-- Datatables -->

{% endblock javascripts %}