{% extends 'sayl/base_site.html' %} {% load staticfiles %} {% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Marcajes de Entrada/Salida <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <input type="hidden" name="titulo_reporte" id="titulo_reporte" value="Listado de Marcajes"></input>
                    <input type="hidden" name="usuario_reporte" id="usuario_reporte" value="{{user.last_name}} {{user.first_name}}">
                    <input type="hidden" name="nombre_universidad" id="universidad" value="{{config.nombre_universidad}}">
                    <input type="hidden" name="nombre_facultad" id="facultad" value="{{config.nombre_facultad}}">
                    <input type="hidden" name="direccion_facultad" id="direccion" value="{{config.direccion_facultad}}">
                    <input type="hidden" name="telefono_facultad" value="{{config.telefono_facultad}}">
                    <table id="midatatable" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="noExport">Pk</th>
                                <th class="dt_filtrable">Legajo</th>
                                <th class="dt_filtrable">Agente</th>
                                <th class="dt_rango_fecha">Fecha de Marcaje</th>
                                <th class="dt_time_range_2col">Hora de Entrada</th>
                                <th class="dt_time_range_2col">Hora de Salida</th>
                                <th class="dt_time_range_2col">Horas Trabajadas</th>
                                <th class="dt_filtrable">Condicion</th>
                                {% if request.user.is_superuser %}
                                <th class="noExport">Acciones</th>
                                {% endif %} 
                            </tr>
                        </thead>
                        <tbody>
                            {% for asistencia in asistencias %}
                            <tr>
                                <td class="noExport">{{asistencia.pk}} </td>
                                <td>{{asistencia.legajo.legajo}}</td>
                                <td>{{asistencia.legajo.first_name}} {{asistencia.legajo.last_name}}</td>
                                <td>{{asistencia.fecha_marcaje|date:'d-m-Y'}}</td>
                                <td>{{asistencia.hora_entrada}}</td>
                                <td>{{asistencia.hora_salida}}</td>
                                <td>{{asistencia.horas_trabajadas}}</td>
                                <td>{{asistencia.condicion}}</td>
                                {% if user.is_superuser %}
                                <td><a href="corregir_marcaje/{{asistencia.pk}}" class="btn btn-success"><span class="fa fa-edit"></span></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}